<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>
<h2>Need to make changes to your account? Do so here -</h2>
<form class="add-new-form account-update" action="/account/updateAccount" method="post">
  <label for="fname">First name:</label><br>
  <input class="form-input" type="text" id="fname" name="account_firstname" autofocus required value="<%= locals.accountData.account_firstname %>"><br>
  <label for="lname">Last name:</label><br>
  <input class="form-input" type="text" id="lname" name="account_lastname" required value="<%= locals.accountData.account_lastname %>"><br>  
  <label for="email">Email address:</label><br>
  <input class="form-input" type="email" id="email" name="account_email" required value="<%= locals.accountData.account_email %>"><br> 
  <input type="hidden" name="account_id"
    <% if(locals.accountData.account_id) { %> value="<%= locals.accountData.account_id %>"
    <% } %>>
  <input type="hidden" name="type" value="info">
  <input class="submitBtn" type="submit" value="Update Account">
</form>
<h2>Need to change your password? Do so here -</h2>
<form class="add-new-form change-password action" action ="/account/updatePassword" method="post">
  <label for="password">Password:</label><br><input class="form-input" type="password" id="password" name="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"><br>
  <span>(Reminder that passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character.)</span><br>
  <p>Pressing the update button will change your password, proceed only if sure</p>
  <input type="hidden" name="account_id"
    <% if(locals.accountData.account_id) { %> value="<%= locals.accountData.account_id %>"
    <% } %>>
  <input type="hidden" name="type" value="password">
  <input class="submitBtn" type="submit" value="Update Password">
</form>